

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.map-container {
    height: 400px;
}

.sidebar {
    background-color: rgb(35 55 75 / 90%);
    color: #fff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}

h1 {
    font-family: 'Roboto'; /*sans-serif; Apply Roboto font */
    text-align: center;
    color: #333; /* Or any color you prefer */
    margin: 5px 0; /* Adjust margin as needed */
}

  
  